.nearest-station-delimiter{
  margin-bottom: 10px;
}

.nearest-station-header{
  margin-bottom: 20px;
  font-size: medium;
  font-weight: bold;
}

.nearest-station-detail{
  margin-left: 20px;
  margin-bottom: 30px;
}
